body {
    font-family: 'Raleway', sans-serif;
    background-color: #fefefe;
    padding-bottom: 3em;
    color: #222;
    line-height: 1.5em;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    border-bottom:1px dashed;
    color: inherit;
}

blockquote {
    border-left: solid 5px #dfdfdf;
    padding-left: 15px;
}

div.row.back {
    margin-top: .8em;
}

ul.pagination > li.disabled {
    color: #ccc;
    cursor: not-allowed;
}

h1 {
    line-height: 1em;
}

div.highlight {
    border: solid 1px #dfdfdf;
    font-size: .8em;
    display: block;
    padding: 0.5em;
    background: #FAFAFA;
    color: #333;
}

div.highlight > pre {
    margin: .5em;
    white-space: pre;
    overflow: scroll;
    width:inherit;
}
