body {
    font-family: 'Roboto', sans-serif;
    background-color: #fefefe;
    padding-bottom: 3em;
    color: #222;
    line-height: 1.5em;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed;
    color: inherit;
}

blockquote {
    border-left: solid 5px #dfdfdf;
    padding-left: 15px;
    font-style: italic;
}

div.row.back {
    margin-top: .8em;
}

ul.pagination > li.disabled {
    color: #ccc;
    cursor: not-allowed;
}

h1 {
    line-height: 1em;
}

pre {
  background: #fff;
  padding: 0;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
  line-height: 1.2em;
  font-size: .8em;
}

.highlight td {
    padding: .4em;
}

.gl {
  background: #fafafa;
  border-right: 1px solid #ddd;
  color: #999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.tags {
    margin-top: .8em;
}

div.tags ul {
    padding: 0;
    margin: 0;
    display: inline;
}

div.tags ul li {
    display: inline;
    padding: .2em .4em;
    background-color: #ddd;
    font-style: italic;
    font-size: .8em;
    text-transform: lowercase;
}
