body {
    font-family: 'Raleway', sans-serif;
    background-color: #fefefe;
    color: #222;
    line-height: 1.5em;
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    border-bottom:1px dashed;
    color: inherit;
}
