<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link href="/assets/css/normalize.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/foundation.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/site.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/syntax.css" rel="stylesheet" type="text/css">
        <title>{{ page.title | downcase }} &middot; anthonysterling.com</title>
    </head>
    <body>
        {{ content }}
    </body>
</html>
